{% extends 'base.html' %}
{% block content %}
<div class="wrapper">
    <h1>Крестики-нолики</h1>
    <form method="POST">
        {% csrf_token %}
        <div class='form-control'>
            <label for="room">Название комнаты</label>
            <input id="room" type="text" name="room_code" required />
        </div>
        <div class='form-control'>
            <label for="character_choice">Крестик или нолик?</label>
            <select for="character_choice" name = "character_choice">
                <option value="X">X</option>
                <option value="O">O</option>
            </select>
        </div>
        <input type="submit" class="button" value="Начать игру" />
    </form>
</div>
{% endblock content %}